# dependencies
node_modules/

# next.js
.next/
out/
tsconfig.tsbuildinfo
next-env.d.ts

# production
*.log

# os / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea

# local env
.env*.local
